LOGLEVEL=DEBUG

WD_API_KEY=<REPLACE_WITH_YOUR_WATSON_DISCOVERY_API_KEY>
WD_ENDPOINT=<REPLACE_WITH_YOUR_WATSON_DISCOVERY_ENDPOINT>
WD_PROJECT_ID=<REPLACE_WITH_YOUR_WATSON_DISCOVERY_PROJECT_ID>

IBM_CLOUD_API_KEY=<REPLACE_WITH_YOUR_IBM_CLOUD_API_KEY>
WATSONX_AI_ENDPOINT=<REPLACE_WITH_YOUR_WATSONX_AI_ENDPOINT>
WX_PROJECT_ID=<REPLACE_WITH_YOUR_WATSONX_PROJECT_ID>

